---
const props = Astro.props;
const projects = [
    {
        name: "KingFlakes",
        description: "A web for restaurant that include menu and about us",
        image: "project1.png",
        link: "https://kingflakes-v2.vercel.app/"
    },
    {
        name: "Valentines",
        description: "This web is like a gift for valentines day",
        image: "project2.png",
        link: "https://valentines-v2-zeta.vercel.app/"
    },
]
---
<div class="projects" id="projects" data-aos="fade-up">
    <h2>{props.title}</h2>
    <div class="projectsitems">
        {
            projects.map((project) => {
                return <div class="project">
                    <a href={project.link}>
                        <div class="wrapper">
                            <img src={project.image} alt={project.name} />
                        </div>
                    </a>
                    <h3>{project.name}</h3>
                    <p>{project.description}</p>
                    <a href={project.link}>View Project</a>
                </div>
            })
        }
    </div>
</div>

<style>
    .projects {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1rem;
        width: 60%;
        max-width: 60%;
        padding: var(--spacing3);
        @media screen and (max-width: 768px) {
			max-width: 100%;
			width: 100%;
		}
        scroll-margin-top: 150px;
    }

    .projectsitems {
        display: flex;
        flex-direction: row;
        align-items: left;
        justify-content: left;
        flex-wrap: wrap;
        width: 100%;
        gap: 1rem;
    }

    .project {
        background: var(--color10);
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--spacing2);
        color: var(--color100);
        text-align: center;
        padding: var(--spacing3);
        overflow: hidden;
        & > a {
            color: var(--color30);
            text-decoration: none;
            &:hover {
                color: var(--color100);
            }
        }
        & img {
            width: 100%;
            border-radius: 16px 0 16px 0;
        }
    }

    .wrapper {
        transition: 0.5s ease-in-out all;

        &:hover{
            border-radius: 0 16px 0 16px;
        }
        overflow: hidden;
        & img {
            transition: 0.5s ease-in-out all;
        }
        & img:hover{
            transform: scale(1.5);
            transform-origin: top;
        }
    }
    
</style>